/* MAIN */
:root{
  --main: #17161B;
  --second: #1B1C20;
  --active: #55CBBC;

      /* TEXT */
      --nav-color:        #b8b8b8;
      --nav-color_hover:  #ffffff;
  
      --title-color:      #ffffff;
      --text-color:      #a3a3a3;
  
      /* TEXT SIZE */
      --nav-size: 1.8vh;
      --text-size: 1.8vh;
      --title-size: 4vh;
}
body{background: var(--main); font-family: 'Poppins', sans-serif; padding: 0; margin: 0;}
html{scroll-behavior: smooth;}
/* MAIN - END */

/* MAIN TEXT */
h1{
color: #fff;
font-size: 2.3rem;
font-weight: 800;
text-shadow: 0px 0px 25px #ffffff34;
}
h2{
color: #fff;
font-size: 2.3rem;
font-weight: 800;
text-shadow: 0px 0px 25px #ffffff34;
position: relative;
margin: 8vh 0;
}
h2::before{
content: "";
position: absolute;
top: 100%;
width: 100%;
left: 0;
height: 3px;
border-radius: 2px;
background: linear-gradient(to left, #02031200 35%, var(--active) 50%, #00000000 65%);
}
.faq-flex i,a{
color: #fff;
font-size: 1.6rem;
font-weight: 600;
}
h4{
color: #fff;
font-size: 1.3rem;
text-shadow: 0px 0px 25px #ffffff34;
position: relative;
}
p{
color: #fff;
font-size: 1.2rem;
}
.other-solid{
font-size: 2.3rem;
color: var(--active);
}
.action-button a{
border: 1px solid #fff;
transition: all 0.2s;
padding: 1vw;
color: #fff;
text-decoration: none;
font-weight: 600;
font-size: 1rem;
}
.action-button a:hover{
border: 1px solid #fff;
color: #141414;
background: #fff;
box-shadow: 0px 0px 20px #ffffff3d;
}
button{
border: 1px solid #fff;
background: #ffffff00!important;
transition: all 0.2s;
padding: 1vw;
color: #fff;
text-decoration: none;
font-weight: 600;
font-size: 1rem;
cursor: pointer;
}
button:hover{
border: 1px solid #fff;
color: #141414;
background: #fff!important;
box-shadow: 0px 0px 20px #ffffff3d;
}
.button-up > a > .fa-solid{
color: #fff;
position: fixed;
bottom: 3%;
right: 3%;
transition: all .2s;
font-size: 2.2rem;
z-index: 1000;
}
.button-up > a > .fa-solid:hover{
text-shadow: 0px 0px 10px #ffffff69;
}
.shownavbar{
display: block!important;
}
/* MAIN TEXT - END */

/* NAVBAR */
nav {
display: flex;
justify-content: center;
position: fixed;
width: 100%;
z-index: 100;
top: 3vh;
}

.nav {
display: flex;

backdrop-filter: blur(5px);
background: #3030309c;
border: 1px solid #3030309c;
border-radius: 50px;

padding: 2.5vh .5vh;
}

.nav > div > a{
color: var(--nav-color);
font-size: var(--nav-size);
text-decoration: none;
font-weight: 500;

padding: 2vh;

transition: all .2s;
}

.nav > div > a:hover {
color: var(--nav-color_hover);
}

.nav > div > a > i {
padding-right: .5vh;
}

.nav_selected {
background: #ffffff;
border-radius: 50px;
color: #111111!important;
}

.nav-mobile {
display: none;

position: fixed;
width: 80%;
top: 15vh;

text-align: center;

backdrop-filter: blur(5px);
background: #303030e3;
border: 1px solid #303030;
border-radius: 10px;

padding: 2.5vh .5vh;
}

.nav-mobile > div > a{
display: block;
color: var(--nav-color);
font-size: var(--nav-size);
text-decoration: none;
font-weight: 500;

padding: 2vh;

transition: all .2s;
}

.nav-mobile > div > a:hover {
color: var(--nav-color_hover);
}

.nav > div:nth-child(6) {display: none; cursor: pointer;}
/* NAVBAR - END */


/* SECTION 1 */
 svg {
   width: 100%; height: 100%;
 }
 svg text {
   animation: stroke 5s;
   stroke-width: 2;
   stroke:  #ffffff00;
   fill:  #fff;
   font-size: 7rem;
 }
 @keyframes stroke {
   0%   {
     fill: #ffffff00; stroke: #fff;
     stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
   }
   70%  {fill: #ffffff00; stroke:  #fff; }
   80%  {fill: #ffffff00; stroke:  #fff; stroke-width: 3; }
   100% {
     fill:  #fff; stroke:  #ffffff00;
     stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
   }
 }
 .wrapper {background-color: #ffffff00; text-shadow: 0px 0px 25px #ffffff34; margin-bottom: 10vh;}
.wrapper > .action-button{
  margin-top: 10vh;
}
.section1-grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: .6vw;
  text-align: center;
  justify-content: center;
  margin: 10vw;
}
.section1-grid-items1 { 
  grid-area: 1 / 1 / 2 / 5;
  margin-top: 15vh;
  margin-bottom: 25vh;
}
 
/* SECTION 1 - END */

/* SECTION 2 */
#section2{background: radial-gradient(ellipse farthest-corner at center center, #337a708e 0%, #17161B 70%);}
#section2{text-align: center;}

.faq-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.faq-question {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  border-bottom: 1px solid #ffffff3f;
  /* border-top: 1px solid #ffffff3f; */
  padding: 2vh 0;
  max-width: 80%;
  min-width: 80%;
}


.faq-question > li,
.faq-question > div > li{
  list-style: none; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: stretch;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  color: #fff;
}

.faq-padding {
  padding-bottom: 10vh;
}

.faq-question > li::before,
.faq-question > div > li::before {
 content: ">>";
 text-shadow: 0px 0px 20px #fab905;
 color: #fa9005;
 padding-right: 1vw;
}

.faq-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}

.faq-answer {
  display: none;
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 4vh;
  text-align: left;
  color: #ffffffb7;
}

.faq-answer > li {
  list-style: none; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: stretch;
}
.faq-answer > li::before {
 content: ">>";
 text-shadow: 0px 0px 20px var(--active);
 color: var(--active);
 padding-right: 1vw;
}

.showfaq {display: flex;}

/* FOOTER */
footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 12vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* text-align: center; */
  background: #111115;
}
.footer-grid-items:nth-child(1){
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-grid-items:nth-child(2){
  grid-area: 2 / 1 / 3 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-grid-items:nth-child(2) > ul > li{
  display: inline-block;
}
.footer-grid-items:nth-child(3){
  grid-area: 3 / 1 / 4 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #0f0f13;
  text-align: center;
}
.footer-grid-items:nth-child(3) > p{
  color: #ffffff62;
}
.wrapper-socialmedia {
  display: inline-flex;
  list-style: none;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-right: 2vw;
}

.wrapper-socialmedia .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-socialmedia .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-socialmedia .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-socialmedia .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper-socialmedia .icon:hover span,
.wrapper-socialmedia .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper-socialmedia .discord:hover,
.wrapper-socialmedia .discord:hover .tooltip,
.wrapper-socialmedia .discord:hover .tooltip::before {
  background: #47668f;
  color: #fff;
}

.wrapper-socialmedia .tiktok:hover,
.wrapper-socialmedia .tiktok:hover .tooltip,
.wrapper-socialmedia .tiktok:hover .tooltip::before {
  background: #ca365b;
  color: #fff;
}

.wrapper-socialmedia .instagram:hover,
.wrapper-socialmedia .instagram:hover .tooltip,
.wrapper-socialmedia .instagram:hover .tooltip::before {
  background: #e48240;
  color: #fff;
}

.wrapper-socialmedia .twitch:hover,
.wrapper-socialmedia .twitch:hover .tooltip,
.wrapper-socialmedia .twitch:hover .tooltip::before {
  background: #4f399e;
  color: #fff;
}
.fab{
  color: rgba(0, 0, 0, 0.856);
}
/* FOOTER - END*/

/* SCROLLING ANIMATION */
.scroll-hidden{
  opacity: 0;
  transition: all 1.0s;
  filter: blur(5px);
  transform: translateY(10%);
}
.scroll-show{
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
}

/* REPONSIVITA */
@media screen and (max-width: 1250px) {
  svg text {
    font-size: 6rem;
  }
  .section1-grid-items1 { 
    margin-top: 27vh;
    margin-bottom: 27vh;
  }
}
@media screen and (max-width: 1080px) {
  svg text {
    font-size: 5rem;
  }
  /* SECTION 1 */
  /* CZECHBLUELINE */
  .section1-grid-items1 { 
    grid-area: 1 / 1 / 2 / 4;
  }
  /* OBRAZEK */
  .section1-grid-items2 { 
    grid-area: 2 / 1 / 4 / 2;
  }
  /* TEXT */
  .section1-grid-items3 {
    grid-area: 2 / 3 / 4 / 4;
  }
  /* VIDEO */
  .section1-grid-items4 {
    grid-area: 5 / 1 / 6 / 4;
  }

  /* SECTION 2 */
  .section2-grid-items1 { 
    grid-area: 1 / 1 / 2 / 4;
  }
  .section2-grid-items2 { 
    grid-area: 2 / 1 / 3 / 4;  
    border-radius: 0;   
  }
  .section2-grid-items3 { 
    grid-area: 3 / 1 / 4 / 4;    
  }
  .section2-grid-items4 { 
    grid-area: 4 / 1 / 5 / 4;    
    border-bottom-left-radius: 50px;
  }
}
@media screen and (max-width: 900px) {
  svg text {
    font-size: 4rem;
  }
  /* SECTION 1 */
  /* CZECHBLUELINE */
  .section1-grid-items1 { 
    grid-area: 1 / 1 / 2 / 4;
  }
  /* OBRAZEK */
  .section1-grid-items2 { 
    grid-area: 3 / 1 / 4 / 4;
  }
  /* TEXT */
  .section1-grid-items3 {
    grid-area: 2 / 1 / 3 / 4;
  }
  /* VIDEO */
  .section1-grid-items4 {
    grid-area: 4 / 1 / 5 / 4;
  }
  .section1-grid-items1 { 
    margin-top: 30vh;
    margin-bottom: 30vh;
  }
}
@media screen and (max-width: 730px) {
  svg text {
    font-size: 3.5rem;
  }
  h2{
    font-size: 1.6rem;
  }
  p{
    font-size: 1.2rem;
  }
  a{
    font-size: 1.2rem;
  }
  li{
    font-size: 1.2rem!important;
    padding-bottom: 2vh;
  }
}
@media screen and (max-width: 640px) {
  svg text {
    font-size: 3.0rem;
  }
}
@media screen and (max-width: 700px) {
  .nav > div:nth-child(1) {display: none;}
  .nav > div:nth-child(2) {display: none;}
  .nav > div:nth-child(3) {display: none;}
  .nav > div:nth-child(4) {display: none;}
  .nav > div:nth-child(5) {display: block;}
  .nav > div:nth-child(6) {display: block;}
}
@media screen and (max-width: 550px) {
  svg text {
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.6rem;
  }
  p{
    font-size: 1.2rem;
  }
  a{
    font-size: 1.2rem;
  }
  li{
    font-size: 1.2rem!important;
    padding-bottom: 2vh;
  }
}
@media screen and (max-width: 450px) {
  svg text {
    font-size: 2.0rem;
  }
  h1{
    font-size: 2.0rem;
  }
  h2{
    font-size: 1.4rem;
  }
  p{
    font-size: 1.0rem;
  }
  a{
    font-size: 1.0rem;
  }
  li{
    font-size: 1.0rem!important;
    padding-bottom: 2vh;
  }
  .footer-grid-items:nth-child(2) > ul > li{
    display: block;
    padding: 1.2vw;
  }
  .footer-grid-items:nth-child(1){
    grid-area: 1 / 1 / 2 / 6;
  }
  .footer-grid-items:nth-child(2){
    grid-area: 2 / 1 / 5 / 6;
  }
  .footer-grid-items:nth-child(3){
    grid-area: 5 / 1 / 6 / 6;
  }
}
@media screen and (max-width: 350px) {
  svg text {
    font-size: 2.0rem;
  }
  h1{
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.8rem;
  }
  p{
    font-size: 0.8rem;
  }
}